@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot');
    src: url('../fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
    url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
    url('../fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'Helvetica Neue Medium', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.clearFix:after {
    content: "";
    display: block;
    clear: both;
}

.wrapper {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
}

/*-----------------------HEADER-----------------------*/
.header {
    background: #085494;
}

.header ul {
    display: block;
    background: inherit;
    float: right;
    width: 100%;
    margin-right: 21px;
}

.header li {
    float: right;
    color: white;
}

.header a {
    display: block;
    color: #60b5ed;
    padding: 11px 22px;
    text-decoration: none;
}

.header li:nth-child(2) a {
    display: block;
    position: relative;
    padding: 11px 18px 11px 50px;
    border-left: 1px solid #60b5ed;
    color: white;
}

.header li:nth-child(2) img {
    position: absolute;
    left: 19px;
    top: 5px;

}

.header a:hover,
.header li:nth-child(2) a:hover {
    background: #4eabda;
    color: white;
}

.header li:first-child {
    padding: 11px 12px;
    background: #3483c8;
}

.header li:first-child span a {
    padding: 0;
    display: inline-block;
    color: white;
    text-decoration: underline;
}

.header li:first-child a:hover {
    text-decoration: none;
    background: inherit;
}

/*------------------------CONTENT--------------------------*/

.content {
    background: url("../img/Background%20copy.png") no-repeat;
    padding: 183px 302px 202px 355px;
}

.content-form-wrapper {
    position: relative;

}

.content-form {
    width: 560px;
    height: 612px;
    background: rgba(0, 0, 0, 0.6);
}

.content-form-header {
    padding: 21px 0;
    border-bottom: 2px solid white;
    color: white;
    font-size: 24px;
    line-height: 16px;
    text-align: center;
}

.facebook a {
    display: block;
    position: absolute;
    left: 142px;
    top: 100px;
}

.form-line {
    position: absolute;
    top: 166px;
    left: 142px;
}

.form-line span {
    color: #7d807c;
    font-size: 13px;
}

.left-line,
.right-line {
    display: inline-block;
    width: 120px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid black;
    vertical-align: middle;
}

.left-line {
    margin-right: 8px;
}

.right-line {
    margin-left: 8px;
}

/*-------------------------------FORM------------------------------*/
.form {
    position: absolute;
    left: 142px;
    top: 207px;
}

.form input {
    display: block;
    width: 257px;
    height: 33px;
    margin-bottom: 17px;
    background: black;
    box-shadow: 0 1px 0 0 #4b4b4b;
    border: none;
    border-radius: 3px;
    color: #cccccc;
    line-height: 16px;
    padding-left: 19px;
    outline: none;
}

.form-input:focus {
    box-shadow: 0 0 3px 3px #538db5;
    border-radius: 3px;
    background: #1b5288;
}

.form label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.form [type='checkbox'] {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 8px 0 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.form label {
    color: #cccccc;
}

.form [type='submit'] {
    width: 150px;
    height: 35px;
    color: white;
    margin: 22px auto 20px;
    padding: 0;
    background: #3a8ecd;
}

.facebook a:hover {
    opacity: 0.8;
}

/*---------------------------FOOTER------------------------*/
.content-form-footer {
    position: absolute;
    text-align: center;
    font-size: 11px;
    color: #cccccc;
    line-height: 16px;
    left: 118px;
    width: 324px;
    bottom: 19px;
}